/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-primary-dark: #154866;
    --color-primary-medium: #2684ba;
    --color-primary-light: #67b3e0;

    --color-secondary-dark: #7a6e00;
    --color-secondary-medium: #e0ca00;
    --color-secondary-light: #ffed47;

    --color-tertiary-dark: #6e0c2f;
    --color-tertiary-medium: #ca1655;
    --color-tertiary-light: #ed5a8d;

    --color-black: #1e1e1f;
    --color-græy-dark: #565657;
    --color-græy-medium: #8e8e8f;
    --color-græy-light: #c6c6c7;
    --color-white: #fefeff;
}

/* semantic color variables for this project */
:root {
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-tertiary: var(--color-tertiary-dark);

    --color-background: var(--color-white);
    --color-background-soft: var(--color-græy-light);
    --color-background-mute: var(--color-græy-light);

    --color-border: var(--color-græy-light);
    --color-border-hover: var(--color-græy-medium);

    --color-heading: var(--color-black);
    --color-text: var(--color-black);

    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: var(--color-primary-light);
        --color-secondary: var(--color-secondary-light);
        --color-tertiary: var(--color-tertiary-light);

        --color-background: var(--color-black);
        --color-background-soft: var(--color-græy-dark);
        --color-background-mute: var(--color-græy-dark);

        --color-border: var(--color-græy-dark);
        --color-border-hover: var(--color-græy-medium);

        --color-heading: var(--color-white);
        --color-text: var(--color-white);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
